<div class="drop-zone jumbotron" ng-init="init()">  
  <h1>Demo app</h1>
  <p class="lead">    
    <img ng-hide="imageName && !(loading || uploading)" src="images/0042.png" ng-click="upload($event)" width="100px" class = "drop-zone-image" alt="The Answer to the Ultimate Question of Life, the Universe, and Everything">
    <div class="result-holder row" ng-hide="loading || uploading">
      <img ng-src="http://api.demo.runtag.ru/img/{{imageName}}" class='result-image'/>
    </div>
    <br>
    <p ng-show="loading">Downloading image back...</p>
    <p ng-show="uploading">Uploading image...</p>
    <p ng-hide="imageName">Drop an image here and see how RunTag finds markers</p>
    <p ng-hide="!imageName || markers.length > 0 ||  loading || uploading">Hm...RunTag doesn't detect any markers here</p>
    <p ng-show="markers.length > 0">
    Here what RunTag has detected
    <ul>
      <li ng-repeat = "m in markers"><strong>{{m}}</strong></li>
    </ul>
    </p>
  </p>
  <small ng-show="!imageName">Or <a href="#" ng-click="upload($event)">select</a> an image</small>
  <small ng-hide="!imageName"><a href="#" ng-click="upload($event)">Select</a> other image</small>
  <input id="fileupload" class="hidden" type="file" name="image" data-url="http://api.demo.runtag.ru/detect">
</div>

<div class="row marketing">
  <h4>Sample images</h4>
  <p>Here is a real <a href="https://pp.vk.me/c543108/v543108748/6224/9fzeQIwgCHI.jpg" target="_blank">image</a> from "Nike woman 10k" in Moscow,
    you can start by detecting markers on it. Save it in a file and drop it here.
  </p>
  <p>Upload and download processes could take some time.
    Detection itself takes only few moments, less than a second</p>
  <h4>RunTag Markers</h4>
  <p>
    You can print several markers and make your own photos. Here are several RunTag markers, we have 65k of them
    <ul>
      <li><a href="images/0042.png">42</a></li>
      <li><a href="images/1542.png">1542</a></li>
      <li><a href="images/8242.png">8242</a></li>
    </ul>
  </p>

  <h4>How does it work</h4>
  <p>
    Here you can find a <a href="http://prezi.com/4n6stjioymby/?utm_campaign=share&utm_medium=copy" target="_blank">presentation</a> of the RunTag.    
  </p>
  <p>
  We also have video tutorials on how RunTag works with social networks (only with Russian subtitles for now)
  <ul>
    <li>
    <a href="http://www.youtube.com/watch?v=CzeYLUYfIg4" target="_blank">Photographer demo</a> shows how to process your photos from facebook or as in video vk.com (Russian "copy" of the fb)
    </li>
    <li>
    <a href="http://www.youtube.com/watch?v=5-O_7sAuu_A" target="_blank">Participant demo</a> shows how we can integrate RunTag detection with event participants database holder
    </li>
  </ul>
  </p>

  <h4>Source code</h4>
  <p>Code of this demo application is available at my <a href="https://github.com/nkdhny/runtag-demo-app" target="_blank">github</a></p>

</div>
